<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}Default title{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script
			     src="https://code.jquery.com/jquery-3.4.0.min.js"
			     integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
			     crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Bootstrap Core CSS -->
        {#<link href="css/bootstrap.min.css" rel="stylesheet">#}
        <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
        <link href="css/navbar.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
      {% block topbar %}
        <nav class="navbar" style="{{ asset('css/navbar.css') }}">
          <div class="container-fluid" style="margin: 20px;">
            <div class="navbar-header">
              <a class='navbar-brand' href="/">
                <img   src=" {{ asset('images/logo.png') }}" alt="Logo" href="/" style="height : 5%; width : 5%">
              </a>
            </div>
            <div class="row-mx">
              {% if is_granted('ROLE_USER') %}
                <div class="dropdown">
                    <button class="btn btn-secondary-xs dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='background:transparent; width:5em; height:5em'>
                      <img src="{#{{ app.user.profile_pic }}#}{{ asset("images/resto_icon.png") }}" style='height:100%; width: 100%; border-radius : 50%;'>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      {% if is_granted('ROLE_RESTO') %}
                      <a class="dropdown-item" href="{{ path('profile') }}">My profile </a>
                      {% else %}
                      <a class="dropdown-item" href="{{ path('modify') }}">My infos </a>
                      {% endif %}
                      <a class="dropdown-item" href="{{ path('reservation') }}">My reservations</a>
                      <a href="/logout">Log out </a>
                    </div>
                  </div>
              {% else %}
                <a href="{{ path('app_login') }}">Log in</a>
                <a href="{{ path('signup') }}">Sign up</a>
              {% endif %}
            </div>
          </div>
        </nav>
      {% endblock topbar %}
      <div class="container" style="margin-top: 20px;">
        {% block body %}{% endblock %}
      </div>
        {% block javascripts %}
        {% endblock %}

    </body>
</html>
