{% extends 'page/eventcalendar.html.twig' %}
{% block title %}
    Book !
{% endblock %}
{% block stylesheets %}
    {{ parent () }}
    <style>
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
        };
        input[type=number]{
            background-color:transparent;
        }
    </style>
    
{% endblock %}
{% block body %}
   {# {% if now-app.user.birthday< resto.min_age %}#}
{% block calendar %}
    {{ parent () }}
{% endblock %}
{% block people %}
    <div class="row">
        <div class="col-md-3"> SELECT GUEST </div>
        <div class="offset-md-4 col-md-5"> 
            <p> 
                <button id="minus" data-min="{{ resto.minseats }}"> - </button>
                <input id="people" type="number" value="{{ resto.minseats }}">
                <button id="plus" data-max="{{ resto.maxseats }}"> + </button>
            </p>
        </div>
    </div>
{% endblock %}
{% block comment %}
    <div class="row">
        <label for="cment">Leave a comment : </label>
        <input type="textarea" placeholder="Anything in particular ?" id="cment">
    </div>
{% endblock %}
{% block submit %}
    <div class="row">
            <div class="col-sm-2 offset-sm-10">
                <button id="book"> Done </button>
            </div>
        </div>
{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent () }}
    <script>
        $("#minus").click(function(event){
            //convertir en int ici
            if($("#people").val()> $("#minus").data('min')) 
                $("#people").val($('#people').val()-1);

        });
        $("#plus").click(function(event){
            //convertir en int ici
            if($("#people").val()< $('#plus').data('max')) 
                $("#people").val($('#people').val()+1);

        });

        $(document).on('click','.res',function(event){
            $(".res").removeAttr("id");
            $(".res").css({
                "background-color":"transparent"
            })
            $(event.target).parent(".res").attr("id","selected");
            $("#selected").css({
                "background-color":"red"
            })
        })
        $("#book").click(function(event){
            var data=$("#selected").serialize();
            console.log(data);
            $.ajax({
                method:"POST",
                url:"/make_r",
                data:data+"&info_text="+$("#cment").val()+"&people="+$("#people").val()
            }).done(function(data){
                //fermer la popup
                window.location.replace("/");

            })
        })
    </script>
{% endblock %}