{% extends eventcalendar.html.twig %}
{% block title %}
{% endblock %}
{% block body %}
    {% if now-app.user.birthday< resto.min_age}
{% block calendar %}
    {{ parent () }}
{% endblock %}
{% block people %}
    <div class="row">
        <div class="col-md-3"> SELECT GUEST </div>
        <div class="offset-md-4 col-md-5"> 
            <p> 
                <button id="minus"> {{ app.user.min_seats }} </button>
                <span id="people">1</span>
                <button id="plus">+</button>
            </p>
        </div>
    </div>
{% endblock %}
{% block submit %}
    {{ parent () }}
{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent () }}
    <script>
        $("#minus").click(function(event){
            //convertir en int ici
            if($("#people").val()> {{ resto.min_seats }}) 
                $("#people").val($('#people').text()-1);

        });
        $("#plus").click(function(event){
            //convertir en int ici
            if($("#people").val()< {{ resto.user_max_seats }}) 
                $("#people").val($('#people').text()+1);

        });
    </script>
{% endblock %}