{% extends 'base.html.twig' %}


{% block title %} {#{{ app.user.username }}#}Username's profile {% endblock %}

{% block body %}

{#{% if is_granted('ROLE_RESTO') %}#}

<div class='row' style='margin-top : 5%;'>

  <div class='col-md-4'>
    <p class="h1"> {#{{ app.user.username }}  #}Username </p>
    <img  class='img img-circle' src="{#{{ app.user.profile_pic }}#}{{ asset('images/resto_icon.png') }}" alt="Four ow four alala" style="height : 65%; width : 65%; border: 1px solid #ddd; border-radius: 50%; margin-top: 5%; margin-bottom : 5%;">
    <div class='row'>
        <button type="button" class="btn btn-warning btn-sm" id="upfile1">Change PP</button>
        <form action="/change_pp" method="post">
          <input type="file" id="file1"  data-id="newpp" name="file1" style="display:none" onchange="this.form.submit();"/>
        </form>
        <a href="/modify" class="btn btn-primary btn-sm">Modify the profile</a>
    </div>
  </div>
  <div class='col-md-8'>
    <br>
    <p class="h3"> <u>Address</u> : {#{{ app.user.address }}#} 123 chez Faridah 75000 District des Mamans</p>
    <br><br>
    <p class="h3"> <u>Phone number</u> : {#{{ app.user.phone }} #} 0123456789</p>


  </div>
</div>
<p class="h3" style="margin-top : 2%; margin-left : 10%; margin-right: 10%"> {#{{ app.user.bio }}#} The first CSS block is similar to the code in Example 1.
 In addition, we have added what should happen when a user hovers over one of the images.
In this case we want the image to NOT be transparent when the user hovers over it.
The CSS for this
</p>



{#{% endif %}#}

{#{% if is_granted('ROLE_CLIENT') %}#}


{#{% do render('form/modify.html.twig') %}#}

{#{% endif %}#}

{% endblock %}


{% block javascripts %}
<script>
  $("#upfile1").click(function () {
    $("#file1").trigger('click');
  });
</script>
{% endblock %}
