{% extends 'base.html.twig' %}


{% block title %} {{ user.username }}'s profile {% endblock %}

{% block body %}


<div class='row' style='margin-top : 5%;'>

  <div class='col-md-4'>
    <p class="h1"> {{ user.username }}</p>
    <img  class='img img-circle' src="{{ user.profilepic }}" alt="Four ow four alala" style="height : 65%; width : 65%; border: 1px solid #ddd; border-radius: 50%; margin-top: 5%; margin-bottom : 5%;">
    {% if is_granted('ROLE_RESTO') %}
    <div class='row'>
        <form id="imgUploader"  enctype="multipart/form-data">
          <button type="submit" class="btn btn-warning" id="upfile1">Change PP</button>
         <input type="file" id="file1"  data-id="newpp" name="newpp" />
        </form>
        <a href="/modify" class="btn btn-primary btn-sm">Modify the profile</a>
    </div>
    {% else %}
      <a href="{{ path('book',{'resto': user.id }) }}" class="btn btn-success btn-sm"> Make a reservation </a>
  </div>
  {% endif %}
  <div class='col-md-8'>
    <br>
    <p class="h3"> <u>Address</u> : {{ user.address }}</p>
    <br><br>
    <p class="h3"> <u>Phone number</u> :{{ user.phone }}</p>
  </div>
</div>
<p class="h3" style="margin-top : 2%; margin-left : 10%; margin-right: 10%">{% if user %}{{ user.bio }}{% else %}{{ app.user.bio }}{% endif %}
</p>

<ul class="nav nav-tabs">
  <li class="nav-item" id="photos">
    <div class="row">
      
    </div>
  </li>
  <li class="nav-item" id="menu">

  </li>

</ul>
{% endblock %}

{% block javascripts %}
<style>
    #imgUploader input[type="file"]{
      position:absolute;
      margin-top: 3px;
      margin-left:3px;
      height:1px;
      width:1px;
      z-index:-5;
  }
</style>
<script>
$(document).ready(function(){
  //$("form input").click();
  $("#imgUploader").submit(function(event){
      event.preventDefault();
      $("#file1").click();
      $("#file1").change(function(event){
        var formData=new FormData();
        var file=$(event.target).prop('files')[0];
      formData.append("file",file,file.name);
      console.log(file);
      $.ajax({
        method:"POST",
        url:"/change_pp",
        data:formData,
        processData:false,
        contentType:false,
        xhr:function(){
          var xhr=new XMLHttpRequest();
          return xhr;
        }
      }).done(function(event){
        console.log(event.name);
        window.location.reload();
      })
    })
      })

  })
  /*$("#upfile1").click(function(event){

    $("#file1").change(function(event){
      console.log("ici");
      console.log($("#file1").prop('files')[0]);

  })
})*/


</script>
{% endblock %}
