{#templates/form/signup.twig#}
{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}
{% block body %}

    <div class="row" style="margin-top : 2%">
      <div class="col-md-6">
        <div class='jumbotron text-center' style="background : transparent;">
          <a href=" {{ path('signupr') }}">
            <h2 style='color : black;'><i>Restaurant</i></h2>
            <img src=" {{ asset('images/resto_icon.png') }}" alt="Resto icon" href=" {{ path('signupr') }}" style="height : 60%; width : 60%">
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class='jumbotron text-center' style="background : transparent;">
          <a href=" {{ path('signupc') }}">
          <h2 style='color : black;'><i>Client</i></h2>
          <img src=" {{ asset('images/client_icon.png') }}" alt="Client icon" href=" {{ path('signupc') }}" style="height : 60%; width : 60%">
          </a>
        </div>
      </div>
    </div>

{% endblock body %}
